.f_header_text
{
  margin: 0;
  margin-left: 3vw;
  float: left;
  color: White;
  font-size: 5vw;
  font-family: "Helvetica";
}
.f_filecount
{
  font-family: "Helvetica";
  color: gray;
  font-size: 3vw;
  margin-top: 0.5vh;
  margin-right: 1vw;
  float: right;
}

.f_header_icon
{
  margin: 0;
  margin-left: 1vw;
  float: left;
  color: White;
  font-size: 6vw;
}
.f_folder_header
{
  margin: 0;
  margin-left: 1.66%;
  margin-top: 1vh;
  float: left;
  width: 96%;

}
.f_folder
{
  width: 98%;
  float: left;
}
.f_content
{
  width: 100%;
}
.f_content_box
{
  float: left;
  width: 95%;
  margin: 0px;
  margin-left: 5%;
  margin-top: 5%;
  overflow: hidden;
}

.f_colmn
{
  float: left;
  width: 33.33%;
  margin: 0px;
}
