.h_header
{
  width: 100%;
  float: left;
}
.h_user
{
  float: left;
  height: 6vh;
  margin: 2vh;
  border-radius: 3vh;
}
.h_upload
{
  margin:2.5vh;
  float: right;
  height: 5vh;
  color: White;
  font-size: 5vh;
}
.h_content
{
  height: 90%;
  overflow-y: scroll;
  float: left;
  overflow-x: clip;
}
.h_cancelsearch
{
  float: left;
  margin-top: 4vh;
  height: 5vh;
  color: White;
  font-size: 3.5vw;
  font-family: "Roboto";
  font-weight: 300;
}
