.u_form
{
  width:60%;
  margin-left:20%;
  float: left;
  color: White;
  margin-top: 8vh;
  font-family: "Helvetica";
}
.u_text
{
    float: left;
    font-size: 10vw;
    margin:0px;
}

.u_filesel
{
  float: left;
  width: 100%;
  font-size: 2vh;
  margin-bottom: 5vh;
  margin-top: 5vh;

}

.u_upload
{
  float: left;
  width: 100%;
  font-size: 2vh;
  margin-bottom: 2vh;
}

.u_foldersel
{
  float: left;
  font-size: 2vh;
  width: 100%;
  margin-bottom: 5vh;
}

.u_folder
{
  width: 100%;
  font-size: 1vh;
}

.u_navigate
{
  float: left;
  font-size: 10vw;
  margin:0px;
  color: white;
  position: fixed;
  bottom: 2.5vh;
  right: 2.5vh;
}

.u_infotext
{
  float: left;
  margin:0px;
  font-size:2.5vw;
  width: 70%;
  color:White;
}


.u_statusbox
{
  float: left;
  width: 100%;
}
.u_statustext
{
  float: left;
  width: 100%;
  color: White;
  margin-top: 1vh;
  font-family: "Helvetica";
font-size: 1.8vh;
}
