.u_form
{
  width: 50%;
  margin-left: 25%;
  float: left;
  color: White;
  margin-top: 8vh;
  font-family: "Helvetica";
}
.u_text
{
    float: left;
    font-size: 10vw;
    margin:0px;
}

.u_filesel
{
  float: left;
  width: 100%;
  font-size: 2vh;
  margin-bottom: 5vh;
  margin-top: 5vh;

}

.u_upload
{
  float: left;
  width: 100%;
  font-size: 2vh;
  margin-bottom: 7vh;
}

.u_foldersel
{
  float: left;
  font-size: 2vh;
  width: 100%;
  margin-bottom: 5vh;
}

.u_folder
{
  width: 100%;
  font-size: 1vh;
}
