.u_content
{
  float: left;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 5vh;
}

.u_selbutton
{
  float: left;
  width: 35%;
  margin-left: 10%;
  margin-top: 10%;
  box-shadow: 7px 7px 20px 7px rgb(255 255 255 / 17%);
  border-radius: 20px;
}

.u_selbutton_link
{
  width: 0px;
}
