.v_container
{
  float: left;
  width: 100%;
  background-color: rgba(20,20,20,0.9);
  position: absolute;
  height: 100%;
}

.v_content
{
  position: relative;
  float: left;
  width: 80%;
  margin: 10%;

}

.v_htlist
{
    background-color: rgb(20,20,20);
    float: left;
    width: 90%;
    margin-left: 5%;
}

.v_hashtag
{
  height: 3vh;
  float: left;
}

.v_httext
{
  float:left;
  margin-top: 0.5vh;
  margin-left: 0.5vh;
  font-size: 2vh;

}

.v_controller
{
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.v_navelement
{

  float: left;
  z-index: 90;
}
.v_navelement
{
  position: absolute;
  width: 50%;
   height: 100%;
}
