.v_container
{
  float: left;
  width: 100%;
  background-color: rgb(12 12 12 / 36%);
  position: absolute;
  height: 100%;
  z-index: 79;
  overflow-y: scroll;
}
.v_viewermenu
{
  float: left;
  width: 90%;
  margin-left: 5%;
}
@media (min-width: 1000px) {
  .v_viewermenu
  {
    float: left;
    width: 40%;
    margin-left: 30%;
  }
}
.v_content
{
  position: relative;
  float: left;
  width: 100%;
  border-radius: 1vh;
  margin-top: 3vh
}

.v_htlist
{
    float: left;
    width: 100%;
    margin-top: 1vh;
    background-color: rgb(22 22 22 / 50%);
    border-radius: 1vh;
}

.v_hashtag
{
  background-color: rgb(22 22 22 / 88%);
  border-radius: 1vh;
  border-color: White;
  border-width: 0.1vh;
  float: left;
  margin: 2.5%;
  margin-top: 0;
}
.v_httext
{
  color: white;
  float: left;
  margin: 0.8vh;
  font-family: "Roboto";
  font-size: 2vh;
}
.v_controller
{
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.v_navelement
{
  float: left;
  z-index: 90;
}
.v_navelement
{
  position: absolute;
  width: 50%;
  height: 100%;
}
.v_info
{
  float: left;
  margin: 1vh;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.5vh;
  color: White;
}
.v_delete
{
  text-decoration: none;
  float: right;
  margin: 1vh;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.5vh;
  color: White;
}
.v_infoblock
{
  float: left;
  width: 100%;
  margin-top: 1vh;
  background-color: rgb(22 22 22 / 50%);
  border-radius: 1vh;
}
.v_hider
{
  float: left;
  width: 100%;
  height: 30%;
}
.v_comment
{
  color: White;
  font-family: "Roboto";
  font-weight: 300;
  background-color: rgb(22 22 22 / 88%);
  border-radius: 1vh;
  float: left;
  margin-bottom: 2.5%;
  margin-left: 2.5%;
  width: 95%;
}
.v_cicon
{
  float: left;
  width: 4vh;
  margin: 2vh;
  margin-right: 0;
  border-radius: 3vh;
  margin-bottom: 1vh;
}
.v_cauthor
{
  float: left;
  font-size: 2vh;
  margin-left: 1vh;
  margin-top: 3vh;
}
.v_ctext
{
  float: left;
  width: 95%;
  margin: 2vh;
  margin-top:0;
  font-size: 1.8vh;
  word-wrap: break-word;
}
.v_cinput
{
  float: left;
  width: 80%;
  margin: 1vh;
  font-size: 1.5vh;
  color:White;
  background-color: rgba(22, 22, 22, 1);
  border: solid;
  border-width: 0.2vh;
  border-color: #80808070;
}
.v_cupload
{
  float: right;
  margin: 2vw;
  font-size: 3vh;
  margin-left: 0;
}
.v_cuploadinfo
{
  float: left;
  font-size: 1.5vh;
  margin: 1vh;
  margin-top: 0;
  color: gray;
}
.v_cheader
{
  float: left;
  font-size: 2vh;
  width: 90vw;
  margin-left: 1vh;
  margin-top: 1vh;
  color: White;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: 1vh;
}
